
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="row">

    <!-- /.col -->
    <div class="col-md-12">
        <div>
            <ol class="breadcrumb">
                <li><a href="#">الصفحة الرئيسية</a></li>
                <li class="active">Electronics</li>
            </ol>
        </div>
        <!-- /.div -->
        <div class="row">
            <div class="btn-group alg-right-pad">
                <button type="button" class="btn btn-default"><strong>1235  </strong>items</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        ترتيب المنتجات على حسب ... &nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">السعر الاقل</a></li>
                        <li class="divider"></li>
                        <li><a href="#">السعر الاعلى</a></li>
                        <li class="divider"></li>
                        <li><a href="#">اكثر مبيعا</a></li>
                        <li class="divider"></li>
                        <li><a href="#">اكثر مشاهدة</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="~/assets/img/dummyimg.png" alt="" />
                    <div class="caption">
                        <h3><a href="#">سامسونج جالكسي </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">اضف الى سلة المشتريات</a> <a href="#" class="btn btn-primary" role="button">تفصيل اكثر </a></p>
                    </div>
                </div>
            </div>

            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="~/assets/img/dummyimg.png" alt="" />
                    <div class="caption">
                        <h3><a href="#">سامسونج جالكسي </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">اضف الى سلة المشتريات</a> <a href="#" class="btn btn-primary" role="button">تفصيل اكثر </a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="~/assets/img/dummyimg.png" alt="" />
                    <div class="caption">
                        <h3><a href="#">سامسونج جالكسي </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">اضف الى سلة المشتريات</a> <a href="#" class="btn btn-primary" role="button">تفصيل اكثر </a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>





    </div>
    <!-- /.col -->
</div>

