@model IEnumerable<FirstShopping.Models.ViewModels.Cart.CartVM>

<a href="#" id="addtocart" class="btn btn-success" role="button">
    سلةالمشتريات
    <span class="loader">
        <img src="~/Content/img/ajax-loader.gif" />
    </span>
    <span class="ajaxmsg">تم اضافة المنتج الى سلة مشترياتك.</span>
</a>
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />



@section Scripts {

    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script>
        $(function () {

            /*
            * Fancybox
            */

            $(".fancybox").fancybox();

            ////////////////////////////////////////////////////////

            /*
            * Add to cart
            */

            $("a#addtocart").click(function (e) {
                e.preventDefault();

                $("span.loader").addClass("ib");

                var url = "/cart/AddToCartPartial";

                /**/
                $.get(url, { id: TempData["id"] }, function (data) {
            /**/
            $(".ajaxcart").html(data);
        }).done(function () {
            $("span.loader").removeClass("ib");
            $("span.ajaxmsg").addClass("ib");
            setTimeout(function () {
                $("span.ajaxmsg").fadeOut("fast");
                $("span.ajaxmsg").removeClass("ib");
            }, 1000);
        });
    });

    ////////////////////////////////////////////////////////

});
    </script>

